@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');

@theme {
  --font-display: "Lexend", sans-serif;
  --color-primary: #f9f506;
  --color-background-dark: #23220f;
  --color-sos-red: #ff3b30;
  --color-accent-blue: #007aff;
}

@layer base {
  body {
    @apply font-display bg-background-dark text-white;
  }
}

.waveform-bar {
  @apply w-1.5 bg-accent-blue rounded-full;
  animation: wave 1s ease-in-out infinite alternate;
}

@keyframes wave {
  from { height: 10px; }
  to { height: 40px; }
}

